:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {width: 100%}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main_bg {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.main_section {
  position: relative;
  width: 100%;
  max-width: 540px;
  min-width: 380px;
  margin: 0 auto;
  height: 100%;
}

.box_element {
  width: 100%;
  height: 500px;
  background-color: #0a0a0a;
  position: absolute;
  transform: rotate(30deg);
  top: -50%;
  left: 15%;
  box-shadow: 20px 20px 70px #0a0a0a;
  z-index: 10;
}

.box_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20% 5% 10%;
}

.box_logo_section {
  position: relative;
  z-index: 50;
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, #0C0E11, #3F3F3F);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_logo_fundo {
  background-color: #000;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_logo_section img {
  width: 90% !important;
}

.main_infos {
  color: #354150;
  margin: 30px 0;
}

.title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 28px;
}

.subtitle {
  font-size: 18px;
}

.btn_section {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.btn_section a {
  width: 100%;
  padding: 10px 15px;
  background-color: #354150;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px #354150;
}

